# Load defaults in order to then add/override with production-only settings
from .defaults import *

DEBUG = False

# Secret keys

ALLOWED_HOSTS = [
    'my-prd-host.example.com'
]

"""
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, '../../db.sqlite3'),
        'USER': 'me',
        'PASSWORD': 'i<3django',
    }
}
"""
